@using DRRealState.Core.Application.ViewModel.User

@model List<UserViewModel>


@{
    ViewData["Title"] = "Agent";
}

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-xl-3 col-sm-6">
            <div class="card rounded rounded-1 shadow shadow-1">
                <div class="card-header bg-custom text-white text-center">Filter</div>
                <div class="card-body">
                    <form class="w-100" asp-action="SearchAgentByName" asp-controller="Home">
                        <h5 class="card-title">Filter By Name: </h5>
                        <input type="text" class="form-control" name="Name" id="Name">
                        <button class="btn btn-block text-white wh-50">Search</button>
                    </form>
                    </div>
                    </div>
        </div>
                    @if(Model.Count==0 || Model == null ){

                <div class="col-6 justify-content-center text-center">

                    <h1>No Agent(s) actually.</h1>

                </div>
            }
        @foreach(UserViewModel account in Model){ 
                <div class="col-xl-4 col-sm-6">
                <div class="single-agents style-agents">
                    <div class="agents-img">
                        <img src="@(account.PhotoUrl==null?"../../Images/user.png":account.PhotoUrl)" alt="Image">
                        <span>CODE: @account.Code</span>
                        <p>DR REAL ESTATE</p>
                    </div>

                    <div class="agents-content">
                        <div class="d-flex justify-content-between align-items-center align-items-center">
                            <h3>
                                <a href="single-agents.html">@account.FirstName @account.LastName</a>
                            </h3>

                            
                        </div>

                        <ul class="info">
                            <li>
                                <a href="tel:@account.Phone">
                                    <i class="fa-solid fa-phone"></i>
                                    @account.Phone
                                </a>
                            </li>
                            <li>
                                <a href="mailto:@account.Email">
                                    <i class="fa-solid fa-envelope"></i>
                                    @account.Email
                                </a>
                            </li>
                        </ul>

                        <a asp-action="Details" asp-controller="Agent" asp-route-id="@account.Id" class="read-more">
                            Read More
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
    

}
    </div>
</div>

