@using DRRealState.Core.Application.ViewModel.Estate
@using System.Globalization
@model EstateViewModel

@{
    ViewBag.Title = $"Details {Model.PropertiesType.Name} in {Model.Ubication}";
    CultureInfo.DefaultThreadCurrentCulture = new("es-DO");
}

<div class="property-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50 mt-4">
<div class="row">
    <div class="col-lg-8 col-12 order-1 order-lg-2 mb-sm-50 mb-xs-50">
        <div class="row">
            <div class="single-property col-12 mb-50">
                <div class="property-inner">
                    <div class="head">
                        <div class="left">
                            <h1 class="title">@Model.PropertiesType.Name</h1>
                            <span class="location"><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;@Model.Ubication</span>
                        </div>
                        <div class="right">
                            <div class="type-wrap">
                                <span class="price">@Model.Price.ToString("C")</span>
                                <span class="type">@Model.SaleType.Name</span>
                            </div>
                            </div>
                   </div>
                   <div class="image mb-30">
                       <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://htmldemo.net/khonike/khonike/assets/images/property/single-property-1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://htmldemo.net/khonike/khonike/assets/images/bg/download-bg.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/caltoaction_f96a134e44401011a9c5c779f8a7a1f5.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
                   </div>
                   <div class="content">
                       <h4>Description</h4>
                       <p>@Model.Description</p>
                       <div class="row mt-30 mb-30">
                       <div class="col-md-5 col-12 mb-xs-30">
                           <h3>Information</h3>
                           <ul class="feature-list border border-dark">
                               <li><div class="image"><i class="fa-solid fa-house"></i></div>Area: @Model.SizeInMeters M<sup>2</sup></li>
                               <li><div class="image"><i class="fa-solid fa-bed"></i></div>Bedroom: @Model.BedRoomQuantity</li>
                               <li><div class="image"><i class="fa-solid fa-bath"></i></div>Bathroom: @Model.BathroomQuantity</li>
                           </ul>
                       </div>
                   <div class="col-md-7 col-12">
                    <h3>Upgrade</h3>
                   <ul class="amenities-list border border-dark">
                       @if(Model.Upgrade.Count==0){
                    <li>Not Upgrade</li>
                    }
                    else{
                    @foreach(var up in Model.Upgrade){
                        <li>@up.Name</li>
                    }
                  }
                   </ul>
                          </div>
                   </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-12 order-2 order-lg-1">
        <div class="card">
            <div class="card-header bg-custom text-white text-center fw-bold">Agent</div>
            <div class="card-body">
                <span class="text">@ViewBag.Agent.FirstName @ViewBag.Agent.LastName</span>
            </div>
        </div>
    </div>
</div>
</div>