@using DRRealState.Core.Application.ViewModel.Estate
@model SaveEstateViewModel


@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-5">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
      @for(int i=0;i<Model.Gallery.Count;i++){
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="@i" class="@(i==0?"active":"")" aria-current="true" aria-label="Slide @i"></button>
}  
</div>
  <div class="carousel-inner">
      @for(int i=0;i<Model.Gallery.Count;i++){
    <div class="@(i==0?"carousel-item active":"carousel-item")" data-bs-interval="10000">
      <img src="@Model.Gallery[i].Url" class="d-block w-100" alt="...">
    </div>
    }
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
        <div class="col-6">
            <div class="card card-border">
                <div class="card-header bg-custom text-center"><span class="text-white h4">Edit</span></div>
                <div class="card-body">
                    @{
                        if (Model.Upgrades.Count == 0 || Model.Upgrades == null)
                        {
                            <h1 class="text-center">Please, Contact an Administrator for create a new Upgrade before create a new Estate</h1>
                        }
                        else if (Model.SaleTypes.Count == 0 || Model.SaleTypes == null)
                        {
                            <h1 class="text-center">Please, Contact an Administrator for create a new Sale Type before create a new Estate</h1>

                        }
                        else if (Model.Properties.Count == 0 || Model.Properties == null)
                        {
                            <h1 class="text-center">Please, Contact an Administrator for create a new Estate Type before create a new Estate</h1>
                        }
                        else{
                        <form asp-action="Edit" asp-controller="Estate" enctype="multipart/form-data" class="w-100">
                        <div class="row mt-3">
                            <div class="col-6">
                            <label asp-for="BathroomQuantity" class="form-label">Bathroom Quantity: </label>
                            <input type="number" asp-for="BathroomQuantity" class="form-control w-100"/>
                            </div>
                            <div class="col-6">
                            <label asp-for="BathroomQuantity" class="form-label">Bedroom Quantity: </label>
                            <input type="number" asp-for="BedRoomQuantity" class="form-control w-100"/>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                            <label asp-for="SaleTypeId" class="form-label">Sale Type: </label>
                                <select asp-for="SaleTypeId" asp-items="@(new SelectList(Model.SaleTypes,"Id","Name"))" class="form-control w-100"></select>
                            </div>
                            <div class="col-6">
                            <label asp-for="UpgradeIds" class="form-label">Upgrade: </label>
                                <select asp-for="UpgradeIds" asp-items="@(new SelectList(Model.Upgrades,"Id","Name"))" multiple size="@Model.Upgrades" class="form-control w-100"></select>
                            </div>

                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                            <label asp-for="PropertyTypeId" class="form-label">Estate Type: </label>
                                <select asp-for="PropertyTypeId" asp-items="@(new SelectList(Model.Properties,"Id","Name"))" class="form-control w-100"></select>
                            </div>
                            <div class="col-6">
                            <label asp-for="Price" class="form-label">Price: </label>
                            <input type="number" asp-for="Price" class="form-control w-100"/>
                            </div>

                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                            <label asp-for="SizeInMeters" class="form-label">Size in m<sup>2</sup>: </label>
                                <input type="number" asp-for="SizeInMeters" class="form-control w-100"/>
                            </div>
                            <div class="col-6">
                            <label asp-for="Description" class="form-label">Description: </label>
                            <textarea asp-for="Description" class="form-control w-100"></textarea>
                            </div>

                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                            <label asp-for="Ubication" class="form-label">Location: </label>
                                <input asp-for="Ubication" class="form-control w-100"/>
                            </div>
                            <div class="col-6">
                            <label asp-for="Ubication" class="form-label">Photos (1-4): </label>
                            <input asp-for="Photos" required class="form-control w-100"/>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-block text-white mt-3">Send</button>
                        <a asp-action="MyProperty" asp-controller="Estate" class="btn btn-warning text-white mt-3">Back</a>
                    </form>
                    }
                }
            </div>
        </div>
        </div>
    </div>
</div>

