@using System.Globalization
@using DRRealState.Core.Application.ViewModel.Estate
@using DRRealState.Core.Application.ViewModel.PropertiesType

@model List<EstateViewModel>

@{
    ViewData["Title"] = "My Property";
    CultureInfo.DefaultThreadCurrentCulture = new("es-DO");
}

<div class="float-end justify-content-center">
    <a type="button" class="btn btn-outline-success rounded rounded-circle w-75" asp-controller="Estate" asp-action="Create"><i class="fa-solid fa-plus"></i></a>
</div>

<div class="row">
                        <div class="col-lg-3 col-md-5 col-11 mt-5">

                    <div class="card rounded rounded-1 shadow shadow-1">

                        <div class="card-header bg-custom text-white text-center">Filter</div>

                        <div class="card-body">

                            <form class="w-100" asp-action="FilterByCodeAgentHouse" asp-controller="Estate">
                                
                            <h5 class="card-title">Filter By Code: </h5>
                                <input type="text" class="form-control" name="Code" id="Code">
                                <input type="hidden" value="MyProperty" name="view" id="view"/>
                                <button class="btn btn-block text-white wh-50">Search</button>
                            </form>
                            <hr/>
                            <form class="w-100" asp-action="SearchAdvancedAgent" asp-controller="Estate">
                                <div class="card-header bg-custom text-white">Advanced Filter</div>
                                <h6>Properties Type</h6>

                                @foreach(PropertiesTypeViewModel item in ViewBag.PropertyType){
                                 <div class="form-check mt-2 mb-2">
                                     <input type="checkbox" class="form-check-input" name="EstateType" id="type-@item.Id" value=@(item.Id) />
                                        <label class="form-check-label" for="type-@item.Id">@item.Name</label>
                                    </div>
                                }
                                                                        <div class="row mt-2 mb-2">
                                            <h6>Quantity</h6>
                                            <div class="col-6">
                                                <label for="BedQuantity">Bedroom:</label>
                                                <input type="number" name="BedQuantity" id="BedQuantity" class="form-control">
                                            </div>
                                            
                                            <div class="col-6">
                                                <label for="BathQuantity">Bathroom:</label>
                                                <input type="number" name="BathQuantity" id="BathQuantity" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row mt-2 mb-2">
                                            <h6>Price</h6>
                                            <div class="col-6">
                                                <label for="MinimumPrice">Minimum:</label>
                                                <input type="number" name="MinimumPrice" id="MinimumPrice" class="form-control">
                                            </div>
                                            
                                            <div class="col-6">
                                                <label for="MaximumPrice">Maximum:</label>
                                                <input type="number" name="MaximumPrice" id="MaximumPrice" class="form-control">
                                            </div>
                                        </div>
                                        <input type="hidden" value="MyProperty" name="view" id="view"/>
                                        <button class="btn btn-block text-white wh-50">Search</button>
                            </form>

                        </div>

                    </div>

                </div>

     @if(Model.Count==0 || Model == null ){

                <div class="col-6 mt-5 offset-3">

                    <div class="card d-flex justify-content-center">
                        <div class="card-header bg-dark text-white">ESTATES</div>
                        <div class="card-body"><h4>No Estate(s) actually</h4></div>
                    </div>

        </div>
    }
    else{

                 @foreach(EstateViewModel item in Model)
                    {
                    <div class="property-item col-lg-4 col-md-6 col-12 mb-40 p-5">
                <div class="property-inner">
                    <div class="image">
                        <span class="label">Feature</span>
                        <a asp-action="Details" asp-controller="Estate" asp-route-id="@item.Id"><img src="@item.Gallery[0].Url" alt=""></a>
                        <ul class="property-feature">
                            <li>
                                <span class="area"><i class="fa-solid fa-house"></i> @item.SizeInMeters M<sup>2</sup></span>
                            </li>
                            <li>
                                <span class="bed"><i class="fa-solid fa-bed"></i> @item.BedRoomQuantity</span>
                            </li>
                            <li>
                                <span class="bath"><i class="fa-solid fa-bath"></i> @item.BathroomQuantity</span>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="content">
                        <div class="left">
                            <h3><a asp-action="Details" asp-controller="Estate" asp-route-id="@item.Id" class="title">@item.PropertiesType.Name.ToUpper()</a></h3>
                            <span class="location"><i class="fa-solid fa-clipboard-list"></i>&nbsp;&nbsp;Code: @item.Code</span>
                            <span class="location"><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;@item.Ubication</span>
                        </div>
                        <div class="right">
                            <div class="type-wrap">
                                <span class="price">@item.Price.ToString("C")</span>
                                <span class="type">@item.SaleType.Name</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <a asp-action="Edit" asp-controller="Estate" asp-route-id=@item.Id class="btn bg-custom h-50"><i class="fas fa-pencil me-2"></i>Edit</a>
                            </div>
                            <div class="col-6">
                              <a asp-action="Delete" asp-controller="Estate" asp-route-id=@item.Id class="btn btn-danger h-50"><i class="fas fa-trash me-2"></i>Delete</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
    }
    
}
</div>




